* {
    font-family: 'Courier New', Courier, monospace;
    background-color: #F2F1EB;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#sidebar {
    background-color: #88AB8E;
    position: fixed;
    left: 0;
    top: 180px;
    bottom: 0;
    width: 300px;
    margin: 0;
}

.title{
    background-color: #88AB8E;
    font-size: 50px;
    font-weight: 400;
    padding: 50px;
    color:#F2F1EB;
}


.bold {
    background-color: #88AB8E;
    font-weight: 600;
}

#header {
    background-color: #EEE7DA;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 750px;
    border-bottom: 1px solid #88AB8E;
}

.search {
    background-color: #EEE7DA;
    text-align: right;
    padding: 4px;
}
