* {
    font-family: 'Courier New', Courier, monospace;
    background-color: #F2F1EB;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#sidebar {
    background-color: #88AB8E;
    position: fixed;
    left: 0;
    top: 7%;
    bottom: 0;
    width: 25%;
    margin: 0;
}

#sidebar .title {
    background-color: #88AB8E;
    font-size: 50px;
    font-weight: 400;
    padding: 50px;
    color:#F2F1EB;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 93%;
    border-bottom: 4px double #88AB8E;
}

.search {
    text-align: right;
    padding: 4px;
}

.bold {
    font-weight: 600;
    background-color: #88AB8E;
}